# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Format SQL'
      'command': 'atom-oracle-utils:format'
    }
  ]
  '.tree-view .file .name[data-name$=\\.sql]': [
    {
      'label': 'Format SQL File'
      'command':  'atom-oracle-utils:formatFile'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-oracle-utils'
      'submenu': [
        {
          'label': 'Format SQL'
          'command': 'atom-oracle-utils:format'
        }
      ]
    ]
  }
]
