# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Format SQL'
      'command': 'oracle-format:formatEditor'
    }
  ]
  '.tree-view .file .name[data-name$=\\.sql]': [
    {
      'label': 'Format SQL File'
      'command': 'oracle-format:formatFile'
    }
  ]
  '.tree-view .directory .icon-file-directory': [
    {
      'label': 'Format SQL Folder'
      'command': 'oracle-format:formatDir'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'oracle-format'
      'submenu': [
        {
          'label': 'Format SQL'
          'command': 'oracle-format:format'
        }
      ]
    ]
  }
]
